@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 231, 235;
  --background-rgb: 3, 7, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-weight: 300;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4B5563;
}

/* Additional global styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 6rem;
  }
}

/* Header margin */
header {
  margin-bottom: 2rem;
}

/* Lighter font weights */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Adjust button and input font weights */
button, input, select {
  font-weight: 300;
}

